In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [8]:
csv_file_path = './cleaned_customer_data.csv'
customer_df = pd.read_csv(csv_file_path)

In [9]:
customer_df.head()

,CustomerID,Age,Gender,MaritalStatus,AnnualIncome (USD),TotalPurchases,PreferredCategory
0,1000,35,Male,Divorced,86937,7,Appliances
1,1001,26,Male,Single,59130,24,Electronics
2,1002,63,Male,Single,56043,17,Electronics
3,1003,48,Female,Single,63208,18,Appliances
4,1004,49,Male,Divorced,81484,14,Appliances

In [10]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          500 non-null    int64
 1   Age                 500 non-null    int64
 2   Gender              500 non-null    object
 3   MaritalStatus       500 non-null    object
 4   AnnualIncome (USD)  500 non-null    int64
 5   TotalPurchases      500 non-null    int64
 6   PreferredCategory   500 non-null    object
dtypes: int64(4), object(3)
memory usage: 27.5+ KB

In [11]:
# Handling Missing Values
customer_df.dropna(inplace=True)

# Handling Duplicates
customer_df.drop_duplicates(keep='first', inplace=True)

# Scaling numeric columns using Min-Max scaling
numeric_columns = ["Age", "AnnualIncome (USD)", "TotalPurchases"]
scaler = MinMaxScaler()
customer_df[numeric_columns] = scaler.fit_transform(customer_df[numeric_columns])

# Encoding Categorical Variables
categorical_columns = ["Gender", "MaritalStatus", "PreferredCategory"]
label_encoder = LabelEncoder()
for column in categorical_columns:
    customer_df[column] = label_encoder.fit_transform(customer_df[column])

In [12]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          500 non-null    int64
 1   Age                 500 non-null    float64
 2   Gender              500 non-null    int32
 3   MaritalStatus       500 non-null    int32
 4   AnnualIncome (USD)  500 non-null    float64
 5   TotalPurchases      500 non-null    float64
 6   PreferredCategory   500 non-null    int32
dtypes: float64(3), int32(3), int64(1)
memory usage: 21.6 KB

In [ ]:
# Export the preprocessed DataFrame to a CSV file
csv_file_path = "preprocessed_customer_data.csv"
customer_df.to_csv(csv_file_path, index=False)